importFrom( "grDevices", "dev.interactive" )
importFrom( "graphics", "abline", "boxplot", "hist", "lines", "par",
            "plot", "points", "symbols", "title" )
importFrom( "stats", "prcomp", "dist", "hclust", "cutree", "kmeans",
            "ecdf", "cor", "var", "lm", "smooth.spline", "predict",
            "aov", "as.formula", "complete.cases", "na.omit", "fitted.values",			
            "rnorm",  "runif", "ks.test" )
			
import(cluster)
import(lattice)

export(LCsetup)

export(ltdagg)
S3method(plot, ltdagg)
S3method(print, ltdagg)

export(lrcagg)
S3method(plot, lrcagg)
S3method(print, lrcagg)

export(ivadj)
S3method(plot, ivadj)
S3method(print, ivadj)

export(LCcluster)
S3method(plot, LCcluster)
S3method(print, LCcluster)

export(LCcompare)

export(confirm)
S3method(plot, confirm)
S3method(print, confirm)

export(KSperm)
S3method(plot, KSperm)
S3method(print, KSperm)

export(reveal.data)